@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentMenu = "Home";
}
<div class="container-fluid">
    @*<div class="row">
        <div class="col-md-12">
            <div class="callout callout-info">
                <h5><i class="fa fa-info"></i>系统介绍</h5>
                YuebonCore FW基于.NetCore3.0的权限管理及快速开发框架，整合应用最新技术包括Asp.NetCore MVC、Dapper、AutoFac、WebAPI、Swagger、Json.Net、IdentityServer4等，核心模块包括：组织机构、角色用户、权限授权、多系统、多应用管理等。它的架构易于扩展，是中小企业的首选。 YuebonCore FW其核心设计目标是开发迅速、代码量少、学习简单、功能强大、轻量级、易扩展，让Web开发更快速、简单，解决70%重复工作。轻松开发，专注您的业务，从YuebonCore FW开始！
            </div>
        </div>
    </div>*@
    <div class="invoice p-3 mb-3">
        <div class="row">
            <div class="col-md-12">
                <h5><i class="fa fa-globe"></i>系统信息</h5>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                系统名称： @ViewData["SoftName"]<br />
                公司名称： @ViewData["CertificatedCompany"]<br />
                域名： @ViewData["WebUrl"]<br />
                目录物理路径： @ViewData["Directory"]<br />
                系统版本： @ViewData["Version"]<br />
                版本更新：<a href="@ViewData["UpdateUrl"]" target="_blank">查看更新</a><br />
            </div>
            <div class="col-sm-4 invoice-col">
                服务器名称： @ViewData["MachineName"]<br />
                操作系统： @ViewData["OSDescription"]<br />
                服务器IP： @ViewData["IPAdress"]<br />
                服务器端口： @ViewData["Port"]<br />
                NET框架版本： @ViewData["FrameworkDescription"]<br />
                运行时的版本号： @ViewData["SystemVersion"]<br />
            </div>
            <div class="col-sm-4 invoice-col">
                开发团队： @ViewData["Manufacturer"]<br />
                官方网址： <a href="@ViewData["WebSite"]" target="_blank">@ViewData["WebSite"]</a><br />

            </div>
        </div>

    </div>
</div>